<h1>Listado de agentes</h1>

<table>
  <tr>
    <th>Dni</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Fecha de nacimiento</th>
    <th>Cuil</th>
    <th>Matricula numero</th>
    <th>Email</th>
    <th>Numero de celular</th>
    <th>Numero de telefono fijo</th>
    <th>Domicilio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agentes.each do |agente| %>
  <tr>
    <td><%= agente.dni %></td>
    <td><%= agente.nombre %></td>
    <td><%= agente.apellido %></td>
    <td><%= agente.fecha_de_nacimiento %></td>
    <td><%= agente.cuil %></td>
    <td><%= agente.matricula_numero %></td>
    <td><%= agente.email %></td>
    <td><%= agente.numero_de_celular %></td>
    <td><%= agente.numero_de_telefono_fijo %></td>
    <td><%= agente.domicilio_id %></td>
    <td><%= link_to 'Ver', agente %></td>
    <td><%= link_to 'Editar', edit_agente_path(agente) %></td>
    <td><%= link_to 'Eliminar', agente, :confirm => 'Esta seguro de que desea eliminar el Agente?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar agente', new_agente_path %>
