<p id="notice"><%= notice %></p>

<p>
  <b>Dni:</b>
  <%= @agente.dni %>
</p>

<p>
  <b>Nombre:</b>
  <%= @agente.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @agente.apellido %>
</p>

<p>
  <b>Fecha de nacimiento:</b>
  <%= @agente.fecha_de_nacimiento %>
</p>

<p>
  <b>Cuil:</b>
  <%= @agente.cuil %>
</p>

<p>
  <b>Matricula numero:</b>
  <%= @agente.matricula_numero %>
</p>

<p>
  <b>Email:</b>
  <%= @agente.email %>
</p>

<p>
  <b>Numero de celular:</b>
  <%= @agente.numero_de_celular %>
</p>

<p>
  <b>Numero de telefono fijo:</b>
  <%= @agente.numero_de_telefono_fijo %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @agente.domicilio_id %>
</p>


<%= link_to 'Editar', edit_agente_path(@agente) %> |
<%= link_to 'Atras', agentes_path %>

<!--################################################################################-->

<h3>Listado de Profesiones del agente</h3><br />

<table>
  <tr>
    <th>Profesion</th>
    <th></th>
    <th></th>
  </tr>
<% @profesion_agente = ProfesionAgente.find(:all, :conditions => {:agente_id => @agente})%>
<% @profesion_agente.each do |profesion_agente| %>
  <tr>
    <td><%= profesion_agente.profesion.nombre %></td>
    <td></td> 
    <td><%= link_to 'Eliminar', profesion_agente, :confirm => 'Desea quitar profesion al agente?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Profesion al agente', :controller => 'relacion_agente_profesion', :action=> 'agregarProfesionAgente', :id => @agente %>

