<p id="notice"><%= notice %></p>

<p>
  <b>Agente:</b>
  <%= @ddjj.agente_id %>
</p>

<p>
  <b>Numero:</b>
  <%= @ddjj.numero %>
</p>

<p>
  <b>Fechaddjj:</b>
  <%= @ddjj.fechaDDJJ %>
</p>

<p>
  <b>Completa:</b>
  <%= @ddjj.completa %>
</p>


<%= link_to 'Edit', edit_ddjj_path(@ddjj) %> |
<%= link_to 'Back', ddjjs_path %>
