<p id="notice"><%= notice %></p>

<p>
  <b>Itemddjj:</b>
  <%= @grupo_horario_item_ddjj.itemDDJJ_id %>
</p>

<p>
  <b>Dia:</b>
  <%= @grupo_horario_item_ddjj.dia %>
</p>

<p>
  <b>Horarioinicio:</b>
  <%= @grupo_horario_item_ddjj.HorarioInicio %>
</p>

<p>
  <b>Horariofin:</b>
  <%= @grupo_horario_item_ddjj.HorarioFin %>
</p>


<%= link_to 'Edit', edit_grupo_horario_item_ddjj_path(@grupo_horario_item_ddjj) %> |
<%= link_to 'Back', grupo_horario_item_ddjjs_path %>
